/* stile generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;  
}



/* top screen */
header{
    height: 50px;
}

#top-row{
    z-index: 500;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

#top-col{
    display: flex;
}

button{
    border: none;
}

button:hover {
    cursor: pointer;
}

.top-bar-icons  button{
    font-size: 16px;
    color: white;
    background-color: rgb(93, 93, 93);
    border-radius: 10px;
    padding: 5px;
}

.griglia button{
    width: 150px;
    margin-right: 20px;
}

.full-screen{
    padding-right: 5px;
}



/* main screen */
main{
    height: calc(100vh - 150px);
    overflow-y: auto;
}

#main-row{    
    width: 85%;  
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-col{
    width: calc(100 / 7( - 20px));
    margin: 0 10px 3px 0;
}

.img-container {
    position: relative;
}

.opacity{
    position: absolute;
    bottom: 20px;
    left: 0;
    border: none;
    background-color: #0f0f0f;
    opacity: 0.5;
    padding: 5px;
}

.opacity span{
    color: white;
}



/* bottom screen */
#bottom-row{
    display: flex;
    padding-top: 10px;
}

.bottom-col{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    height: 80px;
}

.col-sx{
  width: 200px;
}

.bottom-bar-icons{
    display: flex;
    justify-content: space-between;
}

.bottom-bar-icons button{
    font-size: 25px;
    background-color: transparent;
    color: white;
    margin-left: 10px;
}

.fa-angle-up{
    font-size: 14px;
}

.fa-video{
    margin-left: 20px;
}

.bottom-bar-icons span{
    display: block;
}

button span{
    font-size: 18px;
}

.col-cx{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.col-cx button{
    margin: 0 10px;
}

.col-dx{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: #2f2f2f;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container > button{
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: red;
}

.col-dx:hover span{
    cursor: pointer;
}
